<app-component-first></app-component-first>
<hr>

<app-interpolation></app-interpolation>
<hr>

<app-bindings></app-bindings>
<hr>

<app-eventbindings></app-eventbindings>
<hr>

<app-to-way-bindings></app-to-way-bindings>
<hr>

<app-ngstyle-directive></app-ngstyle-directive>
<hr>

<app-ngclass-directive></app-ngclass-directive>
<hr>

<app-ngifelse></app-ngifelse>
<hr>

<app-ngswitch></app-ngswitch>
<hr>

<app-ngfor></app-ngfor>
<hr>

<app-pipes></app-pipes>
<hr>
<hr>
<hr>

<h2>Вывод форм, компоненты </h2>

<app-pist-form (onAdd)="updatePost($event)"
></app-pist-form>

<hr>

<app-pist
    *ngFor="let p of posts"
    [post]="p"
>
    <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
    <ng-template #short>
        <small>Пост короткий</small>
    </ng-template>
</app-pist>